/* LAYOUT */

body {
	position:relative;
	background-color: #000000;
	font-family: monospace;
	letter-spacing: -0.5px;
	z-index:0;
}

#main {
	width: 1200px;
	position: relative;
	background-color: #000000;
	padding: -10px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	float: center;
	z-index:1;
}

#col_picture {
	position: relative;
	padding: 0px 0% 10px 0px;
	float: left;
	width: 50%;
}

#col_events {
	position: relative;
	padding: 0px 0px 10px 0px;
	float: right;
	width: 49%;
}

#bottom {
	position: relative;
	padding: -10px;
	float: left;
	width: 100%;
}

#foot {
	position: relative;
	background-color: #000000;
	padding: 0px 0px 50px 0px;
	float: left;
	width: 100%;
}


/* FLOATING ELEMENTS */

.comment {
}

a.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;

}

.aspect-ratio-music {
	position: relative;
    width: 100%;
	height: 0;
	padding-bottom: 100%;
}

.aspect-ratio-music iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.aspect-ratio-pics {
	position: relative;
  	padding-bottom: 3%;
	float: right;
}

.aspect-ratio-video {
	position: relative;
  	width: 100%;
	height: 0;
  	padding-bottom: 64%; /* resulta en un zoom del video o imagen; relacionado con height en .aspect-ratio iframe*/
}

.aspect-ratio-video iframe {
  	position: absolute;
 	width: 100%;
 	height: 97%; /*relacionado con padding-bottom-- espacio vertical entre imágenes de una columna*/
 	left: 0;
 	top: 0;
}


/* TEXT */

h1 {
	padding: 2px 2px 2px 5px;
	color: #FFFFFF;
	background-color: #333333;
	font-style: normal;
	font-variant: normal;
	text-transform: capitalize;
	position:relative;
	margin-bottom: 6px;
	top: 0px;
	left: 0px;
}

h2 {
	padding: 2px 2px 2px 5px;
	color: #FFFFFF;
	background-color: #333333;
	font-style: normal;
	font-variant: normal;
	text-transform: lowercase;
	position: relative;
	margin-top: 0;
	margin-bottom: 5px;
}


h3 {
	padding: 2px 2px 2px 5px;
	color: #FFFFFF;
	background-color: #333333;
	font-style: normal;
	font-variant: normal;
	text-transform: lowercase;
	position: relative;
}

p {
	color: #AAAAAA;
	font-size: 115%;
	text-align: justify;
	margin-left: 5;
	margin-right: 5;
}

ps1 {
	line-height: 1.4;
	padding: 0px 0px 0px 0px;
	color: #AAAAAA;
	font-size: 105%;
}

psw {
	 line-height: 1.4;
	 padding: 0px 0px 0px 0px;
	 color: #DDDDDD;
	 font-size: 105%;
}

ps2 {
	line-height: 1.4;
	padding: 0px 0px 0px 0px;
	color: #CCCCCC;
	font-size: 105%;
	background-color: #666666;
}


ns1 {
	line-height: 1.4;
	color: #888888;
	font-size: 90%;
	font-style: italic;
	font-variant: normal;
}

ns2 {
	color: #BBBBBB;
	font-size: 90%;
	font-style: italic;
	font-variant: normal;
}

note {
	color: #888888;
	font-size: 90%;
	font-style: normal;
	font-variant: normal;
}


/* EVENT LINKS */

a:link {
	padding: 0px 3px 0px 3px;
	color: #000000;
	text-decoration: none;
	background-color:#ffdd00;
}

a:visited {
	padding: 0px 3px 0px 3px;
	color: #000000;
	text-decoration: line-through;
	background-color:#ffdd00;
}

a:hover {
	padding: 0px 3px 0px 3px;
	color: #999999;
	
}
