/* LAYOUT */

body {
	position:relative;
	background-color: #000000;
	font-family: Courier, monospace;
	letter-spacing: -0.3px;
	z-index:0;
}

#main {
	width: 1200px;
	position: relative;
	background-color: #000000;
	padding: -10px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	float: center;
	z-index:1;
}

#col_picture {
	position: relative;
	padding: 0px 0% 10px 0px;
	float: left;
	width: 50%;
}

#col_events {
	position: relative;
	padding: 0px 0px 10px 0px;
	float: right;
	width: 48%;
}

#bottom {
	position: relative;
	padding: -10px;
	float: left;
	width: 100%;
}

#foot {
	position: relative;
	background-color: #000000;
	padding: 0px 0px 50px 0px;
	float: left;
	width: 100%;
}

/* FLOATING ELEMENTS */

.comment {
}

a.morelink {
	text-decoration:none;
	outline: none;
}

.morecontent span {
	display: none;
}

/* TEXT */

h1 {
	padding: 2px 2px 2px 5px;
	color: #FFFFFF;
	background-color: #555555;
	font-style: normal;
	font-variant: normal;
	text-transform: capitalize;
	position:relative;
	margin-bottom: 6px;
	top: 0px;
	left: 0px;
}

h2 {
	padding: 2px 2px 2px 5px;
	color: #FFFFFF;
	background-color: #555555;
	font-style: normal;
	font-variant: normal;
	text-transform: lowercase;
	position: relative;
	margin-top: 0;
	margin-bottom: 5px;
}


h3 {
	padding: 2px 2px 2px 5px;
	color: #FFFFFF;
	background-color: #555555;
	font-style: normal;
	font-variant: normal;
	text-transform: lowercase;
	position: relative;
}

p {
	color: #AAAAAA;
	font-size: 100%;
	text-align: justify;
	margin-left: 5;
	margin-right: 5;
}

ps1 {
	line-height: 1.4;
	padding: 0px 0px 0px 0px;
	color: #AAAAAA;
	font-size: 95%;
}

psw {
	 line-height: 1.4;
	 text-transform: uppercase;
	 padding: 0px 0px 0px 0px;
	 color: #DDDDDD;
	 font-size: 95%;
}

ps2 {
	line-height: 1.4;
	padding: 0px 0px 0px 0px;
	color: #AAAAAA;
	font-size: 95%;
	background-color: #000000;
}

note {
	color: #777777;
	font-size: 90%;
	font-style: normal;
	font-variant: normal;
}


/* EVENT LINKS */

a:link {
	padding: 0px 3px 0px 3px;
	color: #000000;
	text-decoration: none;
	background-color:#ffdd00;
}

a:visited {
	padding: 0px 3px 0px 3px;
	color: #000000;
	text-decoration: line-through;
	background-color:#ffdd00;
}

a:hover {
	padding: 0px 3px 0px 3px;
	color: #999999;
	
}
